<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1.0">

  <title></title> <!-- Берется из js -->
  <link rel="preload" as="video" href="assets/video/video.mp4"/>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
<div class="grain"></div>
<div class="vignette"></div>

<header class="header">
  <div class="container">

    <!--=include menu.html -->

    <div class="nav-right" id="sceneCounter">R2/15</div>
  </div>
</header>
